@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .profile {
        flex-direction: column;
        text-align: center;
    }

    .profile-text {
        max-width: 100%;
    }

    .profile-picture {
        margin-top: 20px; /* Adds space between the text and image on smaller screens */
    }
}