@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Navigation bar
*/

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  list-style: none;
  font-size: 1.5rem;
}

/* About section
*/

.profile-picture {
  width: 378px;
  height: 504px;
  margin-left: 13.9%;
}

.profile-text {
  max-width: 50%; 
}

.profile-text h1 {
  font-size: 2.5rem; 
  margin-bottom: 20px; 
  font-weight: 680;
}

.profile-text p {
  font-size: 1rem; 
  color: #555; 
  margin-bottom: 20px; 
}

.btn {
  display: inline-block;
  padding: 10px 20px; 
  background-color: #000; 
  color: #fff; 
  text-decoration: none;
  margin-right: 10px; 
  border-radius: 5px; 
}

#profile {
  display: flex;
  align-items: center;
  padding: 100px; 
  padding-bottom: 120px;
}









/* Projects section
*/

.projects-text {
  max-width: 50%; 
}

.projects-text h1 {
  font-size: 2rem; 
  font-weight: 680;
}

#projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px; 
  padding-bottom: 50px;
  padding-top: 100px;
}

.referenceContainer {
  position: 'relative';
  margin-left: 100px;
}

.container {
  height: 24rem;
  display: flex;
  overflow: hidden;
  min-width: max-content;
}

.project-card {
  min-height: 24rem; 
  min-width: 18rem;
  margin-right: 55px;
  transition: transform 0.3s ease-in-out; 
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-container {
  pointer-events: none;
}













/* Footer section
*/

#footer-section {
  justify-content: space-between;
  align-items: center;
  padding: 100px; 
}

.footer-text {
  max-width: 50%; 
}

.footer-text h1 {
  font-size: 2.5rem; 
  margin-bottom: 20px; 
  font-weight: 680;
}

/* Experiences section
*/

.experiences-text h1{
  font-size: 2.5rem; 
  margin-bottom: 20px; 
  font-weight: 680;
}

.experiences-text {
  max-width: 50%; 
}

/*
.experiences-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px; 
  padding-bottom: 50px;
  padding-top: 100px;
}
*/

/*
.experiences-section {
  display: flex;
}
*/

#experiences {
  display: flex;
  align-items: center;
  padding-left: 100px;   
  padding-bottom: 50px;
  padding-top: 100px;
  align-items: flex-start;
}


.experiences-container {
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr;
  justify-content: center;
  align-items: flex-start;
}

.experiences-content {
}

.experiences-data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.experiences-calendar {
  /* font-size: 10px; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.experience-data-1 {
  padding-top: 55px;
}

box-icon {
  transform: scale(0.5);
}

.experiences-formatting h3, span {
  /* font-size: 10px */

}

.experiences-rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: black;
  border-radius: 50%;
}

.experiences-line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: black;
  transform: translate(6px, -7px);
}

/* Pronunciation Popup
*/

.pronunciation-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 1000;
}

/* Contact Section
*/
.contacts-text {
  max-width: 50%; 
}

.contacts-text h1 {
  font-size: 2rem; 
  font-weight: 680;
}

#contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px; 
  padding-bottom: 50px;
  padding-top: 100px;
}
