@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.section-container {
  margin-left: 27vw; 
  margin-right: 27vw;
}

/* Navigation bar
*/

nav {
  justify-content: space-between;
  align-items: center;
  height: 17vh;
  margin-left: 27vw; 
  margin-right: 27vw;
}

.nav-links {
  list-style: none;
  font-size: 1.5rem;
}

.display-name {
  font-size: xx-large;
}

/* About section
*/

.profile-picture {
  width: 378px;
  height: 504px;
}

.profile-text {
  max-width: 50%; 
}

.profile-text h1 {
  font-size: 2.5rem; 
  margin-bottom: 20px; 
  font-weight: 680;
}

.profile-text p {
  font-size: 1rem; 
  color: #555; 
  margin-bottom: 20px; 
}

.btn {
  display: inline-block;
  padding: 10px 20px; 
  background-color: #000; 
  color: #fff; 
  text-decoration: none;
  margin-right: 10px; 
  border-radius: 5px; 
}

#profile {
  display: flex;
  align-items: center;
  padding-bottom: 80px;
  justify-content: space-between;
}

/* Experiences section
*/

#experiences {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.experience-text h1{
  font-size: 2.5rem; 
  margin-bottom: 20px; 
  font-weight: 680;
}

.experience-text {
  max-width: 50%; 
}

.absolute {
  position: absolute;
  inset: 0;
  justify-content: center;
  display: inline-flex;
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.bg-shape1{
  width: 400px;
  height: 400px;
  border-radius: 9999px;
  position: relative;
  animation: one 10s infinite;
}

.bg-shape2{
  width: 300px;
  height: 300px;
  border-radius: 9999px;
  position: relative;
  animation: two 10s infinite;
}

@keyframes one{
  0%{left: 0px; top: 0px;}
  25%{left: 100px; top: 70px;}
  50%{left: 30px; top: 150px;}
  75%{left: 50px; top: 100px;}
  100%{left: 0px; top: 0px;}
}

@keyframes two{
  0%{left: 0px; top: 0px;}
  25%{left: 50px; top: 10px;}
  50%{left: 100px; top: 50px;}
  75%{left: 50px; top: 100px;}
  100%{left: 0px; top: 0px;}
}

.opacity-50{
  opacity: .5;
}

.bg-blur{
  filter: blur(90px);
}

.bg-primary{
  background-color: rgb(30, green, blue);
}

.bg-teal{
  background-color: rgb(255, 72, 173)
}

.bg-purple{
  background-color: rgb(140, 0, 215)
}

.experience-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.05),
    0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 8rem; 
  width: 40rem;
}

.job-title {
  font-size: 1.5em;
  margin-left: 1vw;
}
.company-name {
  font-size: 1.2em;
  margin-left: 1vw;
}
.dates {
  font-size: 1em;
  margin-left: 1vw;
}

/* Projects
*/
.project-text h1 {
  font-size: 2.5rem; 
  margin-bottom: 20px; 
  font-weight: 680;
}

.project-text p {
  font-size: 1rem; 
  color: #555; 
  margin-bottom: 20px; 
}

.project-container {
  margin-right: 30px;
  width: 500px;
  max-width: 500px;
  min-width: 500px;
}

.terminal {
  .terminal-header {
    height: 28px;
    background-color: #e4e3e5;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .header-button {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin-left: 9px;
    }

    .red {
      background-color: #f96256;
      border: solid 1px #f65549;
    }

    .yellow {
      background-color: #fdbc3d;
      border: solid 1px #ffb524;
    }

    .green {
      background-color: #33c948;
      border: solid 1px #2dbb41;
    }
  }

  .terminal-window {
    background-color: #2d2d2d;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, 0.15),
      0 15px 35px rgba(50, 50, 93, 0.2), 0 5px 15px rgba(0, 0, 0, 0.12);
    font-family: 'Monaco', Consolas, 'Lucida Console', monospace;

    a {
      color: #00c4cc;
    }

    .statement:first-child {
      padding-top: 35px;
    }

    .statement:last-child {
      padding-bottom: 60px;
    }

    .statement {
      margin-bottom: 25px;
      margin-left: 35px;
      margin-right: 35px;
      line-height: 24px;

      .input-statement {
        color: #f7f7f7;

        &:before {
          content: '>\a0';
        }
      }

      .return-statement {
        color: #e7d184;
      }

      span {
        background: rgba(247, 247, 247, 0.65);
        animation: caret 1s steps(1) infinite;
      }

      @keyframes caret {
        50% {
          background-color: transparent;
        }
      }
    }
  }
}

.list-projects {
  display: flex;
}

/* Footer section
*/

#footer-section {
  justify-content: space-between;
  align-items: center;
  padding: 100px; 
}

.footer-text {
  max-width: 50%; 
}

.footer-text h1 {
  font-size: 2.5rem; 
  margin-bottom: 20px; 
  font-weight: 680;
}

.github-link {
  display: inline-block;
  margin-left: 8px; 
}

.github-icon {
  width: 24px; 
  height: 24px; 
  vertical-align: middle;
}